<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Bienvenido al quiz</h1>
    <p class="col-md-8 fs-4">Este quiz tiene en total 5 rondas cada una con preguntas más complicadas</p>
    <h4>Reglas</h4>
    <ol>
        <li>La primera ronda te dará 10 puntos e irá aumentando a medidas que suba la dificultad</li>
        <li>Si escoges la respuesta incorrecta terminará el juego y no recibirás premio</li>
        <li>No tienes tiempo para escoger la respuesta, siente la libertar en tu mente</li>
        <li>Refrescar la pagina reiniciará el quiz</li>
        <li>tunometecabrasarambiche</li>
    </ol>

    <div class="name col-md-4 my-3">
        <label for=""> Ingresa tu nombre: </label>
        <input #name type="text" class="form-control">
    </div>
    
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Comenzar</button>
</div>